/* ------ГЛОБАЛЬНЫЕ СТИЛИ------- */
@font-face {
  font-family: 'PT sans';
  src: url('../fonts/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT sans';
  src: url('../fonts/PTSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'PT sans';
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 20px;
}
/* ------МЕНЮ САЙТА------ */
.page-header {
  position: relative;
}
.page-header__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page-header__nav li a:hover {
  color: #82b5d3;
}
.page-header__nav li a:active {
  color: #cacaca;
}
.page-header__nav li {
  display: block;
  width: 20%;
  padding: 0;
  margin: 0;
}
.page-header__nav li a {
  display: block;
  padding: 21px 0px 21px 0px;
  width: 100%;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
.page-header__nav li a:nth-child(3) {
  visibility: hidden;
}
.button-toggle {
  display: none;
  float: right;
  margin-top: 18px;
  margin-right: 23px;
}
.page-header__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 188px;
  margin-left: -97px;
}
.page-header__logo-img {
  width: 188px;
  height: 96px;
}
@media screen and (max-width: 1200px) {
  .page-header a {
    top: 0px;
    left: 50%;
    width: 102px;
    margin-left: -51px;
  }
  .page-header__logo-img {
    width: 102px;
    height: 83px;
  }
}
@media screen and (max-width: 970px) {
  .container {
    min-width: 748px;
    max-width: 970px;
  }
  .page-header__logo-img {
    width: 102px;
    height: 83px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    min-width: 320px;
    max-width: 768px;
    padding: 0px;
  }
  .page-header__logo-img {
    width: 102px;
    height: 83px;
  }
  .page-header__logo {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 105px;
    margin-left: -52px;
  }
  .page-header__nav li a {
    color: #fff;
    background-color: #82b5d3;
    width: 100vw;
    padding: 21px 0px 21px 0px;
    margin: 0px;
    box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 0.2);
  }
  .page-header__nav li a:hover {
    color: #fff;
  }
  .page-header__nav li a:active {
    background-color: #74accc;
  }
  .page-header__nav li a {
    color: #fff;
  }
  .page-header__nav-wrapper {
    width: 100vw;
    height: 224px;
    display: none;
  }
  .page-header {
    position: relative;
  }
  .page-header__nav {
    display: none;
    position: absolute;
    top: -224px;
    height: 224px;
  }
  .page-header__nav li:nth-child(3) {
    visibility: hidden;
    order: 5;
  }
  .page-header__nav li:nth-child(5) {
    border-bottom: 0px;
    order: 3;
  }
  .button-toggle {
    display: block;
  }
  .button-toggle {
    width: 23px;
    height: 21px;
    background-color: #fff;
    border: 0px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .button-toggle span:before {
    content: '';
    display: block;
    width: 23px;
    height: 4px;
    background-color: #82b5d3;
    margin-top: 4px;
  }
  .button-toggle:before {
    content: '';
    display: block;
    width: 23px;
    height: 4px;
    background-color: #82b5d3;
  }
  .button-toggle:before {
    content: '';
    display: block;
    width: 23px;
    height: 4px;
    background-color: #82b5d3;
  }
  .button-toggle:after {
    content: '';
    display: block;
    width: 23px;
    height: 4px;
    background-color: #82b5d3;
    margin-top: 4px;
  }
  .header-wrap {
    height: 56px;
  }
  .nav-close {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .page-header a {
    top: 0px;
    left: 50%;
    width: 188px;
    margin-left: -94px;
  }
  .page-header__logo-img {
    width: 188px;
    height: 96px;
  }
}
/* ------CONTENT В HEADER------ */
.dic-cont1 {
  display: flex;
  justify-content: center;
  margin-top: -60px;
}
.dic-cont1:before {
  content: '';
  border-top: 60px solid transparent;
  border-left: 35vw solid #fff;
  border-bottom: 0px solid transparent;
}
.dic-cont1:after {
  content: '';
  border-top: 60px solid transparent;
  border-right: 35vw solid #fff;
  border-bottom: 0px solid transparent;
}
.dic-cont2 {
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
}
.dic-cont2:before {
  content: '';
  border-top: 35px solid transparent;
  border-left: 50vw solid #ffffff;
  border-bottom: 0px solid transparent;
}
.dic-cont2:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-right: 50vw solid #ffffff;
  border-bottom: 0px solid transparent;
}
.header-main-page {
  background-image: url(../img/back-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 518px;
  background-position: center;
  display: flex;
  justify-content: center;
}
.header-main-page img {
  display: block;
  max-width: 460px;
  max-height: 350px;
  margin-top: 78px;
}
.media-img1 {
  display: block;
  width: 20vw;
}
@media screen and (max-width: 992px) {
  .header-main-page {
    background-image: url(../img/back.jpg);
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    height: 518px;
  }
  .dic-cont1 {
    display: flex;
    justify-content: center;
    margin-top: -60px;
  }
  .dic-cont1:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-left: 45vw solid #fff;
    border-bottom: 0px solid transparent;
  }
  .dic-cont1:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-right: 45vw solid #fff;
    border-bottom: 0px solid transparent;
  }
}
@media screen and (max-width: 768px) {
  .header-main-page {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 389px;
  }
  .media-img2 {
    width: 282px;
    height: 214px;
    margin-bottom: -290px;
  }
  .header-main-page img {
    margin-top: 92px;
  }
  .dic-cont1 {
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }
  .dic-cont1:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50vw solid #fff;
    border-bottom: 0px solid transparent;
  }
  .dic-cont1:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 50vw solid #fff;
    border-bottom: 0px solid transparent;
  }
  .dic-cont2 {
    display: none;
  }
}
